/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   	    Themes    	    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#sidebar-theme{
    left: 0;
    top: 0;
    padding: 2rem;
    height: auto;
    gap: 2rem;
}

#sidebar-theme #btn-box-themes{
    background-color: var(--page-buttons);
    box-shadow: 0 0 3px var(--page-buttons);
    
    &:hover, &:focus{
        box-shadow: 0 0 10px var(--page-buttons);
    }
}

#sidebar-theme #box-themes{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem 0;
    position: relative;
    transform: translateX(-120%);
    transition: all 500ms ease-in-out;
    opacity: 0;

    &.active{
        transform: translateX(0);
        opacity: 1;
    }
}

#sidebar-theme #box-themes #themes-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

#sidebar-theme #box-themes #themes-list .btn-theme{
    width: 100px;
    height: 5rem;
    font-size: 1.6rem;
    font-family: "Cinzel", serif;
    font-weight: 900;
    background-color: transparent;
    color: white;
    border: 2px solid white;

    &.active{
        transform: scale(1.2);
        color: var(--title-color);
        border: 2px solid;
        border-image: linear-gradient(to right, var(--page-buttons) 0%, var(--display-color) 100%);
        border-image-slice: 1;
    
    }
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   	    History    	    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#sidebar-history{
    right: 0;
    top: 0;
    padding: 2rem;
    display: flex;
}

#sidebar-history #btn-box-history{
    max-width: 200px;
    max-height: 50px;
    align-self: flex-end;
    background-color: var(--page-buttons);
    box-shadow: 0 0 3px var(--page-buttons);
    
    &:hover, &:focus{
        box-shadow: 0 0 10px var(--page-buttons);
    }
}

#sidebar-history #box-history{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    position: relative;
    overflow: auto;
    max-height: 70vh;
    transform: translateX(-120%);
    transition: all 500ms ease-in-out;
    opacity: 0;

    &.active{
        transform: translateX(0);
        opacity: 1;
    }

    &::-webkit-scrollbar{
        width: 10px;
    }

    &::-webkit-scrollbar-track{
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb{
        background: linear-gradient(0deg, var(--display-color) 0%, var(--title-color) 100%);

        border-radius: 10px;
    }
    


}

#sidebar-history #box-history #history-list{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    color: white;
    overflow: hidden;
}

#sidebar-history #box-history #history-list li{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 232px;
}

#sidebar-history #box-history #history-list .history-element{
    font-size: 1.2rem;
    font-family: "Michroma", sans-serif;
    font-weight: 900;
}